.navbar {
  height: 50px;
  background-color: #052445;
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navFeedbackUserContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2px;
}

.userDropDownWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-right: 2px;
  z-index: 999;
  position: relative;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.userIcon {
  color: #052445;
  background-color: #eef1ee;
  border-radius: 50%;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.dummyLine {
  padding: 10px;
  cursor: default;
}

.feedbackHeader{
  font-size: 16px;
}

.feedbackSpan {
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
}

.logo {
  font-weight: 500;
  font-size: larger;
}

.navButton,
.logoutWrapper {
  font-weight: 500;
  border: 1px solid #052445;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  background: linear-gradient(to right, #052445 50%, #eef1ee 50%);
  background-size: 200% 200%;
  background-position: right bottom;
  color: #052445;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.navButton:hover,
.logoutWrapper:hover {
  font-weight: 500;
  background-position: left bottom;
  border: 1px solid #eef1ee;
  color: #eef1ee;
}

.logoutWrapper {
  position: absolute;
  top: 46px;
  z-index: 999;
  cursor: pointer;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}

.logoutWrapperNone {
  display: none;
}
